<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Login</title>
 
      <link rel="stylesheet" href="css/style.css">
  
</head>

<body>
	<div id="root"></div>
</body>
 <script src="lib/react.js"></script>
    <script src="lib/react-dom.js"></script>
    <script src="lib/browser.min.js"></script>
    <script src='react/login.js' type='text/babel'>
</html>
