<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <script src="lib/react.js"></script>
        <script src="lib/react-dom.js"></script>
        <script src="lib/browser.js"></script>
        <link href="css/home.css" rel='stylesheet'></link>
        <link href="css/font-awesome.min.css" rel='stylesheet'></link>
    </head>
<body>
    <div class='container'>
        <!-- header -->
        <div class='header'>
            <div class='socia'>
                <ul>
                    <a href='#'><i class="fa fa-facebook-official"></i></a>
                    <a href='#'><i class="fa fa-google-plus-official"></i></a>
                </ul>
            </div>
        </div>

        <!-- menu -->
        <div class='menu'>
            <ul class='menubar'>
                <li>
                    <a href='#'>Home</a>
                </li>
                <li>
                    <a href='#'>Menu 1</a>
                </li>
                <li>
                    <a href='#'>Menu 2</a>
                </li>
                <li>
                    <a href='#'>Menu 3</a>
                    <ul>
                        <li>
                            <a href='#'>Sub Menu 1</a>
                        </li>
                        <li>
                            <a href='#'>Sub Menu 2</a>
                        </li>
                        <li>
                            <a href='#'>Sub Menu 3</a>
                        </li>
                    </ul>
                </li>
            </ul>

            <div class='search'>
            </div>
        </div>
    </div>
</body>
</html>